<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ng6demo</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/lc" routerLinkActive="active">Life Cycle</a>
        </li>
        <li>
          <a routerLink="/cd" routerLinkActive="active">Change Detection</a>
        </li>
        <li>
          <a routerLink="/ve" routerLinkActive="active">View Encapsulation</a>
        </li>
        <li>
          <a routerLink="/f" routerLinkActive="active">Form</a>
        </li>
        <li>
          <a routerLink="/d" routerLinkActive="active">Directive</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
